.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin-left: 300px;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 26px;
  align-items: center;
  justify-content: center;
}
.cont{
  align-items: center;
  justify-content: center;
}
th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
.container button{
  font-size: 20px;
  width: 150px;
  height: 36px;
  padding-left: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 1px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color:rgb(78, 177, 235);
  color: #ffffff;
  align-items: center;
  justify-content: center;
  margin-left: 110px;
}
.container form{
  display: flex;
  flex-direction: column;
}
.container form input{
  margin-bottom: 5px;
  width: fit-content;
}
.app-container button{
    font-size: 20px;
    width: 150px;
    height: 36px;
    padding-left: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
h4{
  font-size: 36px;
  color: rgb(122, 126, 129);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
